@model IEnumerable<SeniorProject.Models.Ingredient>

@{
    ViewData["Title"] = "Add an Ingredient";
    ViewData.AddActivePage(ManageNavPages.Inventory);
}

<h3>Add an Ingredient</h3>

<p>
    <a asp-action="Inventory">Return to Inventory</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Add", "AddIngredient", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Inventory">Return to Inventory</a>
</p>
