@model IEnumerable<SeniorProject.Models.Ingredient>

@{
    ViewData["Title"] = "Inventory";
    ViewData.AddActivePage(ManageNavPages.Inventory);
}

<h3>Inventory</h3>

<p>
    <a asp-action="AddIngredient">Add another ingredient to your inventory</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveIngredient", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
